.edit-message {
    display: flex;
    flex-direction: column;
    min-width: 35%;
    margin-right: 25px;
}

.edit-message input {
    min-height: 50%;
    border: 1px solid #51c6ea;
    border-radius: 5px;
}

.edit-message input:focus {
    border: 3px solid #51c6ea;
    border-radius: 5px;
    outline: none;
}

.confirm-icon {
    display: flex;
    justify-content: flex-end;
}

.confirm-icon a {
    color: green;
}