
.trash {
    color: red;
}

.message-row {
    display: flex;
    justify-content: flex-end;
}

.user-menu {
    display: flex;
    flex-direction: column;
}


.message-wrp {
    display: flex;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #51c6ea;
    border-radius: 5px;
    background: rgba(81, 198, 234, 0.5);
    color: #0d71bb;
    width: 50%;
}

.message {
    min-width: 90%;
    margin-left: 15px;
}

.header-message {
    display: flex;
    justify-content: space-between;


}

.header-message span {
    font-weight: bold;
    font-size: 0.8em;
}

.text-message {
    overflow-wrap: break-word;

}